// GET TO LVIV START
.get-to-lviv {
  padding-top: 80px;
  margin-bottom: 120px;
  .get-to-lviv__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .get-to-lviv__right-block {
      width: 100%;
      height: 600px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .get-to-lviv__left-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 50px;

      .left-block__title {
        align-self: flex-start;
        color: #8b6a6a;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 30px;
        white-space: nowrap;
      }

      .left-block__description {
        background-image: linear-gradient(
          91deg,
          rgba(217, 217, 217, 0) 0.77%,
          rgba(139, 106, 106, 0.7) 112.01%
        );
        backdrop-filter: blur(2.5px);
        color: #000;
        font-size: 18px;
        padding: 22px 88px 18px 119px;
        border-radius: 16px;
        font-weight: 700;
        margin-bottom: 47px;
        line-height: 24px;
      }

      .left-block__travel-options {
        display: flex;
        flex-direction: row;
        background-color: #eaeaea;
        padding: 80px 120px;
        border-radius: 12px;

        button {
          width: 100%;
          padding: 15px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          border-radius: 25px;
          border: none;
          background: #dfd2d2;
          color: #000;
          font-family: Jura;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .travel-options__all-info {
          display: flex;
          flex-direction: column;
        }

        .travel-options__image-container {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            padding-bottom: 50px;
            cursor: pointer;
          }
        }
        .travel-options__from {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          span {
            color: #8b6a6a;
            font-family: Jura;
            font-size: 27px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;
          }

          .travel-options__select {
            width: 275px;
            height: 50px;
            border-radius: 10px;
            font-size: 17px;
            padding-left: 10px;
            font-family: Jura;
          }
        }
      }
    }
  }
}
// GET TO LVIV END
