
.trip-card__img{
    object-fit: cover;
    border-radius: 2rem;
}

.swiper-slide__info{
    position: absolute;
    top: 54%;
    transform: translateX(8%);
    background-color: #fff;
    border-radius: 13px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 4px;
    a{
        text-decoration: none;
    }

    .info__star-container{
        display: flex;
        flex-direction: row;
        gap: 3px;
        img{
            height: 10px;
            width: 10px;
        }
    }

}