.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.about-lviv__wrapper {
  display: flex;
  flex-direction: row;
}

// ABOUT LVIV START
.about-lviv {
  margin-bottom: 120px;
  padding-top: 80px;
  .left-side__title {
    margin-bottom: 50px;
    h1 {
      color: #8b6a6a;
      font-size: 70px;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  .left-side__info {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    padding: 20px;
    border-radius: 60px;
    width: 600px;
    text-align: center;
    background-image: linear-gradient(
      91deg,
      rgba(217, 217, 217, 0) -2%,
      rgba(139, 106, 106, 0.5) 114.01%
    );
    backdrop-filter: blur(2.5px);
    margin-bottom: 50px;

    p {
      line-height: 20px;
    }
  }

  .about-lviv__right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6px;
    margin-left: 60px;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .left-side__info-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;

    a {
      text-decoration: none;
      color: #000;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
    }

    .info-holder__text-card {
      padding: 33px;
      border-radius: 10px;
      background-color: #e3dcdc;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }

  .text-card__title {
    font-size: 24px;
  }
  .text-card__number {
    display: flex;
    gap: 3px;
    font-size: 22px;
  }
}

// ABOUT LVIV END

// UPCOMING EVENTS START
.upcoming-events {
  background-image: url(/LvivProject/photo/vector2.png);
  background-repeat: no-repeat;
  margin-bottom: 130px;
  padding-top: 80px;

  .upcoming-events__wrapper {
    display: flex;
    flex-direction: column;
  }
  .upcoming-events__title-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 62px;

    .title-icon__icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      span {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
      }
    }

    .title-icon__title {
      color: #8b6a6a;
      font-size: 50px;
      font-weight: 700;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .upcoming-events__sort-list {
    margin-bottom: 42px;
    .sort-list__container {
      ul {
        display: flex;
        flex-direction: row;
        gap: 27px;

        li {
          color: #000;
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

// UPCOMING EVENTS END

// POPULAR TRIPS START

.popular-trips {
  margin-bottom: 120px;
  padding-top: 80px;
  .popular-trips__wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrapper__block-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    .block-top__left {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
      .left__heading {
        h1 {
          color: #8b6a6a;
          font-size: 60px;
          font-weight: 700;
          white-space: nowrap;
        }

        margin-bottom: 10px;
      }

      .left__desc {
        span {
          color: #000;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .block-top__right {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .right__top {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
          padding-left: 150px;
        }
      }

      .right__bottom {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
          padding-left: 75px;
        }
      }

      .right__top,
      .right__bottom {
        p {
          color: #192424;
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
  }
}

//POPULAR TRIPS END

//OUR CREATORS START

.creators {
  margin-bottom: 80px;
  padding-top: 80px;
  .creators__title {
    color: #8b6a6a;
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 40px;
  }

  .creators__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
}

// OUR CREATORS END

// MAP START
.map {
  padding-top: 80px;
  margin-bottom: 120px;

  .map__wrapper {
    display: flex;
    flex-direction: column;

    .map__title {
      color: #8b6a6a;
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .map__main-block {
      display: flex;
      flex-direction: row;
      align-items: center;

      .map__filter {
        margin-right: 150px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .map__list-item {
            color: #464646;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
          }

          .map__list-item:hover {
            color: #9d9191;
          }

          li {
            color: #bebebe;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: default;
          }
        }
      }
    }
  }
}

// MAP END

// RESTAURANTS START
.restaurants {
  padding-top: 80px;
  margin-bottom: 120px;

  .restaurants__wrapper {
    display: flex;
    flex-direction: column;

    .restaurants__title {
      color: #8b6a6a;
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .restaurants__main-block {
      display: flex;
      flex-direction: row;
      gap: 50px;

      .main-block__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;

          li {
            color: #464646;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
          }
          .disabled-li {
            color: #bebebe;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: default;
          }
        }
      }

      
    }
  }
}
// RESTAURANTS END

// GET TO LVIV START
.get-to-lviv {
  padding-top: 80px;
  margin-bottom: 120px;
  .get-to-lviv__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .get-to-lviv__right-block {
      width: 100%;
      height: 600px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .get-to-lviv__left-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 50px;

      .left-block__title {
        align-self: flex-start;
        color: #8b6a6a;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 30px;
        white-space: nowrap;
      }

      .left-block__description {
        background-image: linear-gradient(
          91deg,
          rgba(217, 217, 217, 0) 0.77%,
          rgba(139, 106, 106, 0.7) 112.01%
        );
        backdrop-filter: blur(2.5px);
        color: #000;
        font-size: 18px;
        padding: 22px 88px 18px 119px;
        border-radius: 16px;
        font-weight: 700;
        margin-bottom: 47px;
        line-height: 24px;
      }

      .left-block__travel-options {
        display: flex;
        flex-direction: row;
        background-color: #eaeaea;
        padding: 80px 120px;
        border-radius: 12px;

        button {
          width: 100%;
          padding: 15px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          border-radius: 25px;
          border: none;
          background: #dfd2d2;
          color: #000;
          font-family: Jura;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .travel-options__all-info {
          display: flex;
          flex-direction: column;
        }

        .travel-options__image-container {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            padding-bottom: 50px;
            cursor: pointer;
          }
        }
        .travel-options__from {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          span {
            color: #8b6a6a;
            font-family: Jura;
            font-size: 27px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;
          }

          .travel-options__select {
            width: 275px;
            height: 50px;
            border-radius: 10px;
            font-size: 17px;
            padding-left: 10px;
            font-family: Jura;
          }
        }
      }
    }
  }
}
// GET TO LVIV END
