.header-bg {
  width: 100%;
  padding: 10px 0;
  background-color: #5c57575c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .header-bg__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    .header__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .header__list-right li:nth-child(3) {
      margin-top: 6px;
    }

    .header__list-right {
      img {
        cursor: pointer;
      }
    }

    .header__list-left,
    .header__list-right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 52px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 23px;
        white-space: nowrap;
      }

      a:hover {
        color: #9e9d9d;
      }
      .item__select {
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        border: 0;
        cursor: pointer;
        .select__item {
          color: #000;
        }
      }
    }

    .header__main-logo {
      margin-left: 55px;
      margin-right: 55px;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .header__main-logo:hover img {
      opacity: 0;
    }

    .header__main-logo:hover::before {
      opacity: 1;
    }

    .header__main-logo::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/LvivProject/photo/main-logo-gray.png");
      background-position: center;
      opacity: 0;
    }
  }
}
